<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <%# Text input for Title %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <%# Text input for Body %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

  <%# Tagging interface %>
  <p>
  <%= f.label :tag_list %><br />
  <%= f.text_field :tag_list %>
  </p>
  <%# File uploading: %>
  <p>
    <% if @article.image.exists? %>
        <%= image_tag @article.image.url %><br/>
    <% end %>
    <%= f.label :image, "Insert pictorial evidence" %><br />
    <%= f.file_field :image %>
  </p>
  
  
  <%#  submit button!!! %>
  <p>
    <%= f.submit %>
  </p>


<% end %>

